/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Homepage Styling #################################################*/
/*###################################################################*/
/*###################################################################*/
/*###################################################################*/
 
 * {
 	font-family: 'Source Sans Pro', sans-serif;
 }

 a, a:hover, a:focus {
 	color: #61BAAA;
 }


 .fa-homepage {

 	border-radius: 50%;
 	background-color: #F0F0F0;
 	color: #61BAAA;
 	font-size: 2em;
 	padding: 1em;
 	margin-top: 1em;
 }

 .success {
 	background-color: #61BAAA;
 }
 .projectPic, .teamPic {
 	height: 50px;
 	width: 50px;
 }

.navbar {
	z-index: 1;
	background: transparent;
	margin-bottom: -4em;
}

body > nav {
	z-index: 1;
	background: transparent;
	
}

.odd {
	background-color: black;
	color: #F0F0F0;
}

.footer {
	background-color: rgba(0,0,0,.3);
	color: white;
}

.homepage {
	padding: 7em;
	border-top: solid 1px rgba(0,0,0,.2);
}

.titlesHomepage {
	padding-bottom: 2em;
	color: #61BAAA;
}

.sectionPic {
	height: 50px;
	width: 100px;
}

.teamMemberRows {
	padding-bottom: 10em;
}

/* Dashboard Styling #################################################*/
/*###################################################################*/
/*###################################################################*/
/*###################################################################*/



